<div class="container">
    <div class="game-screen">
        <ul class="screen-ul">
            <li class="screen introduction-screen">
                <p>Coming soon</p>
            </li>
            <li class="screen status-screen">
                <div class="basic-info-box">
                    <p class="name en">Kento</p>
                    <p class="name jp">ケント</p>
                    <ul class="en">
                        <li>Student</li>
                        <li>Gndr:Male</li>
                        <li>Lev:&emsp;30</li>
                        <li>HP:190</li>
                        <li>MP:120</li>
                    </ul>
                    <ul class="jp">
                        <li class="jp">がくせい</li>
                        <li class="jp">おとこ</li>
                        <li class="jp">レベル:&emsp;30</li>
                        <li class="jp">HP:190</li>
                        <li class="jp">MP:120</li>
                    </ul>
                </div>
                <div class="equipment-box">
                    <ul class="en">
                        <li>E Pan Lid</li>
                        <li>E Pencil</li>
                        <li>E Eraser</li>
                        <li>E Armor</li>
                    </ul>
                    <ul class="jp">
                        <li class="jp">E なべのふた</li>
                        <li class="jp">E えんぴつ</li>
                        <li class="jp">E けしごむ</li>
                        <li class="jp">E てつのよろい</li>
                    </ul>
                </div>
                <div class="status-box">
                    <ul class="en">
                        <li>STR:127</li>
                        <li>AGI:130</li>
                        <li>VIT:&emsp;83</li>
                        <li>INT:&emsp;68</li>
                        <li>LUCK:&emsp;80</li>
                        <li>Mx HP:190</li>
                        <li>Mx MP:200</li>
                        <li>ATK:128</li>
                        <li>DEF:&emsp;84</li>
                        <li>EXP:65535</li>
                    </ul>
                    <ul class="jp">
                        <li class="jp">ちから:127</li>
                        <li class="jp">すばやさ:130</li>
                        <li class="jp">みのまもり: 83</li>
                        <li class="jp">かしこさ: 68</li>
                        <li class="jp">うんのよさ: 80</li>
                        <li class="jp">さいだいHP:190</li>
                        <li class="jp">さいだいMP:200</li>
                        <li class="jp">こうげき力:128</li>
                        <li class="jp">しゅび力: 84</li>
                        <li class="jp">EXP:65535</li>
                    </ul>
                </div>
            </li>
            <li class="screen setting-screen">
                <p class>Select Language</p>
                <div class="language-container">
                    <p class="language language-en selected-language">English</p>
                </div>
                <div class="language-container">
                    <p class="language language-jp">日本語</p>
                </div>
            </li>
        </ul>
        <div class="select-menu">
            <p class="en">Select Menu</p>
            <p class="jp">セレクトメニュー</p>
            <ul class="en">
                <li class="menu menu1">1. Introduction</li>
                <li class="menu menu2">2. Status</li>
                <li class="menu menu3">3. Setting</li>
            </ul>
            <ul class="jp">
                <li class="menu menu1 jp">1. じこしょうかい</li>
                <li class="menu menu2 jp">2. ステータス</li>
                <li class="menu menu3 jp">3. せってい</li>
            </ul>
        </div>
        <p class="title start">PRESS "A" TO START!</p>
    </div>
    <div class="btn-wrapper">
        <div class="cross-grid">
            <div class="cross-btn cross-right"></div>
            <div class="cross-btn cross-left"></div>
            <div class="cross-btn cross-top"></div>
            <div class="cross-btn cross-bottom"></div>
            <div class="cross-btn cross-center"></div>
        </div>
        <div class="ab-grid">
            <div class="ab-btn ab-top">
                <p class="a-btn">A</p>
            </div>
            <div class="ab-btn ab-left">
                <p class="ab-btn">B</p>
            </div>
        </div>
    </div>
</div>